<!DOCTYPE html>
<head>
  <title>Vehicle Model Data</title>
</head>
<body>
  <h1>Vehicle Model Data</h1>
  <form action="/model_selected" method="post">
    <label for="model-select">Model:</label>
    <select id="model-select" name="model" onchange="this.form.submit()">
      {% if selected_model %}
      <option value="{{ selected_model }}">Selected: {{ selected_model }}</option>
      {% else %}
      <option value="">-- Select Model --</option>
      {% endif %}
      {% for model in models %}
      <option value="{{ model }}">{{ model }}</option>
      {% endfor %}
    </select>
  </form>
  <br>
  <br><br>
  {% if image %}
  <img src="data:image/png;base64,{{ image }}">
  {% endif %}
</body>
</html>
